/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
   padding-top: 3em;
}
.row-question {
   max-width: 42em;
   margin-left: auto;
   margin-right: auto; /* center ._. */
}
.row-answer {
   margin-top: 1em;
}
.row-new-answer {
   margin-top: 2em;
}

.row-buttons input {
   display: inline-block;
   width: calc(50% - 1em);
   margin-top: 5px;
}
.row-buttons input:not(:first-child) {
   margin-left: 1em;
}
.row-buttons input:first-child {
   margin-right: 1em;
}