<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <!-- Make the page mobile compatible -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Allow installing the app to the homescreen -->
  <meta name="mobile-web-app-capable" content="yes">

  <link rel="icon" href="/favicon.ico" />
  <title>Ask me about a document!</title>

  
  <!-- Dark Theme - https://github.com/vinorodrigues/bootstrap-dark-5 -->
  <!-- The page supports only a dark color schemes -->
  <meta name="color-scheme" content="dark">

  <!-- Replace the Bootstrap CSS with the
       Bootstrap-Dark Variant CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-night.min.css" rel="stylesheet">

  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", 'data-turbo-track': "reload" %>
  <%= javascript_include_tag "application", 'data-turbo-track': "reload" %>
</head>

<body class="bg-dark text-light text-center">
  <!-- Display a message if JS has been disabled on the browser. -->
  <noscript>If you&apos;re seeing this message, that means
    <strong>JavaScript has been disabled on your browser</strong>, please
    <strong>enable JS</strong> to make this app work.</strong>
  </noscript>

  <!-- Bootstrap Container -->
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1>&#127812; Ask me about a document!</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="lead">Current Document: <strong id="current_document">&hellip;</strong>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <!-- The app hooks into this div -->
        <div id="app"></div>
      </div>
    </div>
    
  </div>


  <!-- Open Sans Font -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </body>

</html>
